<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
</head>
<body>
    <h1><%= name %></h1>
    <p><%= description %></p>

    <img src="<%= image %>" width="200" />

    <br><br>
    <p>Scan QR to view this page</p>

    <a href="/">Back</a>
</body>
</html>
